#hobbies-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: transform 0.4s ease;
}

#hobbies-section:hover {
    transform: scale(1.05);
}

#hobbies-section h1 {
    font-size: 1.5rem;
    text-align: center;
}



#hobbies ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}